<nav class="bg-white shadow">
    <a class="logo billabong" href="/">
        <img src="/images/logo.svg" alt="logo" />
        Catstagram
    </a>
    <a href="/add-image" class="add bg-blue text-white round">
        <span class="material-icons-outlined"> add_circle_outline </span>
        Add image
    </a>
</nav>
