<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head.ejs") %>
    </head>
    <body>
        <%- include("includes/nav.ejs") %>

        <main class="container bg-white shadow round">
            <h1>Add image</h1>
            <form action="/add" method="POST" class="form">
                <img src="" alt="" id="preview">
                <label for="image" class="upload text-white bg-blue round"><span class="material-icons-outlined">
                    file_upload
                    </span>Choose an Image</label>
                <input type="file" accept=".jpg,.jpeg,.png" name="image" id="image" class="form-item"/>
                <div class="form-item">
                    <input
                        class="form-input"
                        type="text"
                        name="name"
                        id="name"
                        placeholder=""
                        maxlength="40"
                        required
                    />
                    <label class="form-label" for="name"> Name </label>
                </div>
                <div class="form-item">
                    <textarea
                        class="form-input"
                        type="text"
                        name="body"
                        id="body"
                        placeholder=""
                        required
                    ></textarea>
                    <label class="form-label" for="body"> Body </label>
                </div>
                <input type="submit" value="Submit" class="btn bg-blue text-white round">
            </form>
        </main>
        <script src="/scripts/index.js"></script>
    </body>
</html>
