<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("includes/head.ejs") %>

    </head>
    <body>
        <%- include("includes/nav.ejs") %>

        <main>
            <section class="hero">
                <hgroup>
                    <h1>Share photos of your cat</h1>
                    <h2>and meet other cat lovers</h2>
                </hgroup>
            </section>
            <section class="images">
                <ul class="posts">
                    <li class="post shadow bg-white round">
                        <div class="post-header">
                            <p class="primary bold">Author</p>
                            <a
                                href="https://scontent-waw1-1.xx.fbcdn.net/v/t1.15752-9/274657458_672689413950638_8881972112669989143_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=ae9488&_nc_ohc=ENSF6DxN6bcAX94mHkm&_nc_ht=scontent-waw1-1.xx&oh=03_AVIED6wAYazrgEf_FODdncpZ9zGjCSZcrGslRDeFoFfl5A&oe=6248DE34"
                                target="_blank"
                                download
                                ><span class="material-icons-outlined">
                                    file_download
                                </span></a
                            >
                        </div>
                        <img
                            class="post-image"
                            src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.15752-9/274657458_672689413950638_8881972112669989143_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=ae9488&_nc_ohc=ENSF6DxN6bcAX94mHkm&_nc_ht=scontent-waw1-1.xx&oh=03_AVIED6wAYazrgEf_FODdncpZ9zGjCSZcrGslRDeFoFfl5A&oe=6248DE34"
                            alt="cat"
                        />
                        <div class="post-body">
                            <p>
                                <span class="primary bold">author</span> Lorem
                                ipsum dolor sit amet consectetur, adipisicing
                                elit. Natus id culpa iure vero tempore quisquam
                                voluptatem. Cumque, deserunt provident! Sint
                                obcaecati voluptas ullam minus provident dolorum
                                autem, reprehenderit veritatis dolore vel,
                                ducimus officiis placeat non cum officia
                                assumenda voluptatibus ratione!
                            </p>
                            <time class="text-gray">YYYY-MM-DD HH:mm</time>
                        </div>
                    </li>
                    <li class="post shadow bg-white round">
                        <div class="post-header">
                            <p class="primary bold">Author</p>
                            <a
                                href="https://scontent-waw1-1.xx.fbcdn.net/v/t1.15752-9/271916156_1359607017805616_4084518819635879504_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_ohc=kU-8jbC3jysAX8vxrBJ&_nc_ht=scontent-waw1-1.xx&oh=03_AVLiLeXPK21AXSRLHW8CVxrxBe23CLlTA-xm_Q4YdQ72_A&oe=62476097"
                                target="_blank"
                                download
                                ><span class="material-icons-outlined">
                                    file_download
                                </span></a
                            >
                        </div>
                        <img
                            class="post-image"
                            src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.15752-9/271916156_1359607017805616_4084518819635879504_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_ohc=kU-8jbC3jysAX8vxrBJ&_nc_ht=scontent-waw1-1.xx&oh=03_AVLiLeXPK21AXSRLHW8CVxrxBe23CLlTA-xm_Q4YdQ72_A&oe=62476097"
                            alt="cat"
                        />
                        <div class="post-body">
                            <p>
                                <span class="primary bold">author</span> Lorem
                                ipsum dolor sit amet consectetur, adipisicing
                                elit. Natus id culpa iure vero tempore quisquam
                                voluptatem. Cumque, deserunt provident! Sint
                                obcaecati voluptas ullam minus provident dolorum
                                autem, reprehenderit veritatis dolore vel,
                                ducimus officiis placeat non cum officia
                                assumenda voluptatibus ratione!
                            </p>
                            <time class="text-gray">YYYY-MM-DD HH:mm</time>
                        </div>
                    </li>
                </ul>
            </section>
        </main>
    </body>
</html>
